/****** Script for SelectTopNRows command from SSMS  ******/
drop table #auths1

SELECT [TABLE_LOG_ID]
      ,[AUTH_NO]
      ,[AUTH_ID]
      ,[CASE_ID]
      ,[AUTH_DESCRIPTION]
      ,[PATIENT_ID]
      ,[LOB_BEN_ID]
      ,[AUTH_TYPE_ID]
      ,[ADMISSION_SOURCE_ID]
      ,[AUTH_PRIORITY_ID]
      ,[AUTH_USED_UNITS]
      ,[AUTH_ADMISSION_AMPM]
      ,[AUTH_NOTI_DATE]
      ,[AUTH_FROM_DATE]
      ,[AUTH_EXP_DISCH_DATE]
      ,[AUTH_ACT_DISCH_DATE]
      ,[AUTH_DISCH_ID]
      ,[AUTH_FREQ_DOSAGE]
      ,[AUTH_FREQ_QUAN]
      ,[AUTH_TOOTH_NOS]
      ,[AUTH_TOOTH_FACE]
      ,[AUTH_ACT_OWNER]
      ,[AUTH_CUR_OWNER]
      ,[AUTH_STATUS_ID]
      ,[AUTH_STATUS_REASON_ID]
      ,[AUTH_REVIEW_FLAG]
      ,[CLAIM_TYPE_ID]
      ,[AUTH_CLOSED_DATE]
      ,[AUTH_SERVICE_TYPE_CODE]
      ,[ALTERNATE_AUTH_ID]
      ,[AUTH_DAYS_SUPPLIED]
      ,[REQUEST_SENT_MODE]
      ,[AUTH_ADDITIONAL_INFORMATION_REQUESTED_DATE]
      ,[AUTH_ADDITIONAL_INFORMATION_RECEIVED_DATE]
      ,[AUTH_DATE_NOTED]
      ,[OUT_OF_AREA_INDICATOR_ID]
      ,[DATE_M11Q_REQUESTED]
      ,[DATE_M11Q_RECEIVED]
      ,[DATE_REQUESTED_FOR_NURSING_ASSESSMENT]
      ,[DATE_NURSING_ASSESSMENT_PERFORMED]
      ,[IS_EXTENSION]
      ,[AUTH_DUE_DATE]
      ,[ADMISSION_LEVEL_ID]
      ,[ADMIT_REASON_ID]
      ,[CANCEL_VOID_REASON_ID]
      ,[CERTIFICATION_TYPE_ID]
      ,[CLOSED_REASON_ID]
      ,[AUTH_REFILLS_REQUESTED]
      ,[AUTH_STRENGTH]
      ,[MEDICAL_RECORD_NUMBER]
      ,[AUTH_WELOS]
      ,[AUTH_COST_SAVINGS]
      ,[AUTH_NO_OF_ROUND_TRIPS]
      ,[RULE_IND_TRANS_ID]
      ,[RULE_ACTION]
      ,[RULE_COMPLETED_TIME]
      ,[AUTH_FINAL_NOTE_RECEIPT_DATE]
      ,[AUTH_PRE_CALCULATED_COST_SAVINGS]
      ,[AUTH_APPEAL_NOTIFICATION_DATE]
      ,[REQUESTED_UNITS]
      ,[APPROVED_UNITS]
      ,[TREATMENT_TYPE_ID]
      ,[BABY_WEIGHT]
      ,[EPISODE_ID]
      ,[CREATED_BY]
      ,[CREATED_ON]
      ,[UPDATED_BY]
      ,[UPDATED_ON]
      ,[DELETED_BY]
      ,[DELETED_ON]
      ,[TRANSPORTATION_MODE_ID]
      ,[MEM_BENF_PLAN_ID]
      ,[DETERMINATION_TYPE_ID]
      ,[START_DATE]
      ,[IS_RECONSIDERATION]
      ,[EPISODE_NAME_ID]
      ,[EPISODE_DESCRIPTION]
      ,[IS_SAVED]
      ,[DISCHARGE_TO_ID]
      ,[PASARR_DATE]
      ,[PRI_DATE]
      ,[MEMBER_NOTIFICATION_DATE]
      ,[MEMBER_NOTIFICATION_TYPE_ID]
      ,[PROVIDER_NOTIFICATION_DATE]
      ,[PROVIDER_NOTIFICATION_TYPE_ID]
      ,[IS_HNA]

	  into #auths1
  FROM [Altruista].[dbo].[AUDIT_UM_AUTH_LOG]


  
  
  select a1.auth_status_id, ar1.auth_status, a2.auth_status_id, ar2.auth_status, a1.auth_no, a1.auth_id 
--  into #temp
  from #auths1 a1 
  left join #auths1 a2 on a1.auth_id = a2.auth_id and a2.table_log_id < a1.table_log_id and a2.auth_status_id >1
  left join altruista.dbo.UM_MA_AUTH_STATUS ar1 on a1.auth_status_id = ar1.auth_status_id
  left join altruista.dbo.UM_MA_AUTH_STATUS ar2 on a2.auth_status_id = ar2.auth_status_id 
  where a1.auth_status_id = 10 and a1.table_log_id >1
  and year(a1.updated_on)>=2019
  and a1.auth_id = '0124T60D8'
  group by a1.auth_status_id, a2.auth_status_id, a1.auth_no, a1.auth_id ,ar1.auth_status, ar2.auth_status
  order by 5,6,3
